<section class="container" id="game-player">

  <h2 id="title">Getting up</h2>
  <button id="mute-btn">sound on</button>

  <div class=".col-10" id="game-images">
    <!-- this will contain an image to display on the page -->
    
  </div>

  <div class=".col-10" id="choice-box">
        {{#each options as |option|}}
        {{> game-options}}
        {{/each}}
  </div>

  {{> game-dialog}}

</section>
