<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<title> Getting Up. Game Over</title>

<div id="tudo">

  <div class="gameover">
    <p> Consumed </p>
    <p>With Despair </p>
  </div>

  <div class="startover">
    <p> Try Again? </p>
  </div>

  <div class="opcoes">
    <div class="yes"> <a href="http://localhost:3001/game"> YES </a> </div>
    <div class="no"> <a href="https://www.wikihow.com/Start-the-Day-off-Right"> NO </a> </div>
  </div>

  <div class="cred">
    <div class="groupname">
      <h2 href="https://github.com/codewizard-dt/getting-up-rpg"> A Group Nine Games Project</h2>
    </div>
  </div>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Final Stats</div>
  <div class="card-body">
    <h5 class="card-title">{{user_name}}</h5>
    <p class="card-text">
    <ul>
      <li>Time left: {{time_left}}</li>
      <li>Preparedness: {{preparedness}}</li>
      <li>Crisis level: {{crisis_level}}</li>
    </ul>
    </p>
  </div>
</div>