<section class="container" id="game-player">

  <div id="topBar">
    <h2 id="time">7:00 am</h2>
    <progress class=".col 6" id="crisis" value="{{{crisis}}}" max="100"></progress>
  </div>

  <div id="middleBar">
    <div id="game-images">
      <!-- this will contain an image to display on the page -->
      {{> game-map}}
    </div>

    <div id="choice-box">
      {{#each options as |option|}}
      {{> game-options}}
      {{/each}}
    </div>
  </div>

  <div id="bottomBar">
    {{> game-dialog dilemma}}
  </div>

    {{> fake-zoom  }}

</section>