<section class="container" id="game-player">
  <form id="player-name">
    <div class="form-group game-player ">
      <label for="exampleInputUsername">Enter Username</label>
      <input type="text" class="form-control" id="player-name-input" placeholder="Username">
    </div>
    <button type="submit" class="btn btn-primary"> Submit </button>
  </form>
  <a id="StartGameBtn" href="/game">
    <button class="btn btn-primary">Start Game</button>
  </a>
</section>