<div id="fake-zoom">
  <div class="video-wrap">
    <video id="user-video" width="100%"></video>
    <div class="video-overlay"></div>
  </div>
  <div class="video-wrap">
    <video id="cat-video" width="100%" controls>
      <source src="/videos/nyan-cat.mp4" type="video/mp4">
    </video>
  </div>
</div>

<script src="/js/fake-zoom.js"></script>