/* this needs to be organized before turning in */
/* Universal Code (if you see something pls add here)*/
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive;
  color: white;
}

#StartGameBtn {
  display: none;
}
/* Callie Code Here */

@-webkit-keyframes animacao1 { 0% {background: #000000;}
50% {background: #000000;}
100% {background: #000000;} }

@-moz-keyframes animacao1 { 0% {background: #000000;}
50% {background: #000000;}
100% {background: #000000;} }

@keyframes animacao1 { 0% {background: #000000;}
50% {background: #0f0f0f;}
100% {background: #535151;} }

#tudo {width: 750px;
height: 980px;
margin: auto;
margin-top: 20px;
border-radius: 100px;
-webkit-animation-name: animacao1;
-webkit-animation-duration: 5s;
-webkit-animation-timing-function:  linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;

-moz-animation-name: animacao1;
-moz-animation-duration: 5s;
-moz-animation-timing-function:  linear;
-moz-animation-iteration-count: infinite;
-moz-animation-direction: alternate; 

animation-name: animacao1;
animation-duration: 5s;
animation-timing-function:  linear;
animation-iteration-count: infinite;
animation-direction: alternate;}


.gameover {width:750px;
height: auto;
padding-top: 60px;
background: none;
}

.gameover p {margin-top: 0px;
margin-bottom: 0px;
font-size: 100px;
font-family: 'Architects Daughter', cursive;
line-height: 120px;
text-align: center;
text-shadow: 5px 5px #000000;
color: #ffffff;
}

.startover	{width: 750px;
height: auto;
padding-top: 40px;}

.startover p {margin-top: 0px;
margin-bottom: 0px;
text-align: center;
font-size: 60px;
font-weight: bold;
font-family: 'Architects Daughter', cursive;
color: #ffffff;
text-shadow: 2.5px 2.5px #000000;
margin-top: 10%;}

.opcoes {width: 550px;
height: auto;
padding-top: 50px;
margin: auto;}

.yes a {text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    color: #111010;
    text-decoration: none;
    text-shadow: 1.5px 1.5px #383636;
    padding: 25px 100px 25px 100px;
    border-radius: 20px;
    background: #fffefe;
    float: left;
margin-top: 15%;}



@-webkit-keyframes animacao2 { from {-webkit-transform: scale(1);} 
 to {-webkit-transform: scale(1.2);} }

@-moz-keyframes animacao2 { from {-moz-transform: scale(1);} 
 to {-moz-transform: scale(1.1);} }

@keyframes animacao2 { from {transform: scale(1);} 
 to {transform: scale(1.1);} }


.yes a:hover {-webkit-animation-name: animacao2;
-webkit-animation-duration: 0.8s;
-webkit-animation-timing-function:  linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;

-moz-animation-name: animacao2;
-moz-animation-duration: 0.8s;
-moz-animation-timing-function:  linear;
-moz-animation-iteration-count: infinite;
-moz-animation-direction: alternate;

animation-name: animacao2;
animation-duration: 0.8s;
animation-timing-function:  linear;
animation-iteration-count: infinite;
animation-direction: alternate;}



.no a {
    text-align: center;
font-size: 30px;
font-weight: bold;
font-family: 'Architects Daughter', cursive;
color: #111010;
text-decoration: none;
text-shadow: 1.5px 1.5px #383636;
padding: 25px 100px 25px 100px;
border-radius: 20px;
background: #fffefe;
float: right;
margin-top: 15%}

.cred {
    text-align: center ;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Architects Daughter', cursive;
    color: #111010;
    text-decoration: none;
    text-shadow: 1.5px 1.5px #383636;
    padding: 15px 60px 15px 60px;
    border-radius: 20px;
    background: #fffefe;
    float: center;
    margin-top: 33%;}


@-webkit-keyframes animacao3 { 0% {-webkit-transform: translate(-5px,0px);} 
25% {-webkit-transform: translate(-2.5px, 0px);}
50% {-webkit-transform: translate(0px, 0px);}
75% {-webkit-transform: translate(2.5px, 0px);}
100% {-webkit-transform: translate(5px, 0px);} }

@-moz-keyframes animacao3 { 0% {-moz-transform: translate(-5px,0px);} 
25% {-moz-transform: translate(-2.5px, 0px);}
50% {-moz-transform: translate(0px, 0px);}
75% {-moz-transform: translate(2.5px, 0px);}
100% {-moz-transform: translate(5px, 0px);} }

@keyframes animacao3 { 0% {transform: translate(-5px,0px);} 
25% {transform: translate(-2.5px, 0px);}
50% {transform: translate(0px, 0px);}
75% {transform: translate(2.5px, 0px);}
100% {transform: translate(5px, 0px);} }


.no a:hover {-webkit-animation-name: animacao3;
-webkit-animation-duration: 0.15s;
-webkit-animation-timing-function:  linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;

-moz-animation-name: animacao3;
-moz-animation-duration: 0.15s;
-moz-animation-timing-function:  linear;
-moz-animation-iteration-count: infinite;
-moz-animation-direction: alternate;

animation-name: animacao3;
animation-duration: 0.15s;
animation-timing-function:  linear;
animation-iteration-count: infinite;
animation-direction: alternate;}

/* Dawson Code Here */
#topBar {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
#game-player {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  background-color: #000;
  z-index: 0;
}
#time {
  justify-content: center;
  width: fit-content;
}
#crisis {
  border-radius: 7px; 
  width: 100%;
  height: 3vh;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
  background-color: greenyellow;
}
#crisis::-webkit-progress-bar {
  background-color: yellow;
  border-radius: 7px;
}
#crisis[value]::-webkit-progress-value {
  background-color: red;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 );
}
#crisis[value]::-moz-progress-bar {
  background-color: red;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 );
}

#middleBar {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
#choice-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vh;
  flex-direction: column;
  width: 300px;
  z-index: 2;
}
#choice-box button {
  text-align: center;
  width: 95%;
  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.25);
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2.5px 2.5px #000000;
}
#game-images {
  align-content: center;
  width: 500px;
  height: 500px;
  z-index: 1;
}
#game-images .camera {
  width: 100%;
  height: 100%;
  margin: auto;
}
#game-images .frame {
  max-width: 100%;
  max-height: 100%;
}

#bottomBar {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  flex-direction: row;
}
#dialog-box {
  width: 67%;
  background-color: rgba(128, 128, 128, 0.25);
  margin: 0 auto;
  border-radius: 25px;
  height: 250px;
  z-index: 2;
}
#dialog-box p {
  font-size: 25px;
  text-shadow: 2.5px 2.5px #000000;
}
#stat-box {
  width: 27%;
  background-color: rgba(128, 128, 128, 0.25);
  margin: 0 auto;
  border-radius: 25px;
  height: 250px;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  #game-images {
    width: 300px;
    height: 300px;
  }
  #choice-box {
    top: 20px;
    width: 98%;
    gap: 5px;
  }
  #dialog-box {
    height: 150px;
  }
  #stat-box {
    height: 150px;
  }
}
@media screen and (min-width: 2000px) {
  #game-images {
    width: 600px;
    height: 600px;
  }
  #choice-box {
    margin-top: 5vh;
    width: 98%;
    gap: 10px;
  }
  #dialog-box {
    height: 400px;
  }
  #stat-box {
    height: 400px;
  }
}
